<style>


  .add-player-container {
    max-width: 97%;

  }

  #bowlerCont {
    display: none;
  }



  @media screen and (max-width: 768px) {
    .add-player-container {
      max-width: 100%;

    }
  }
</style>
<div style="position: relative;">
  <%- include('./partials/score.ejs',{
  marketId: marketId
}) %>
</div>
<div class="container add-player-container">
  <div class="row">
    <div class="col-md-12 card p-3">

      <h5>Add Player</h5>
      <div class="row">
        <div class="col-md-7">

          <form class="card p-3 mt-3 was-validated">
            <div class="row">
              <div class="form-group col-md-12">
                <h5><%= matchData?.title %></h5>

              </div>
              <div class="form-group col-md-12">
                <label for="teamName">Team Name</label>
                <select class="form-control" id="teamName" required>
                  <option value="">Select your team</option>
                  <option value="<%= matchData?.teamA %>"><%= matchData?.teamA %></option>
                  <option value="<%= matchData?.teamB %>"><%= matchData?.teamB %></option>
                  <% if (matchData && matchData.teamC) { %>
                  <option value="<%= matchData.teamC %>"><%= matchData.teamC %></option>
                  <% } %>

                </select>
                <div class="invalid-feedback">Please select the team.</div>
              </div>
              <div class="form-group col-md-4">
                <label for="playerName">Player Name</label>
                <input required pattern="[A-Za-z ]+" type="text" class="form-control" id="playerName" placeholder="Enter player name">

                <div class="invalid-feedback">Please enter player name.</div>
              </div>


              <div class="form-group col-md-4">
                <label for="playerType">Player Type:</label>
                <br />
                <div class="btn-group" id="playerType" data-toggle="buttons">
                  <label class="btn btn-secondary">
                    <input type="radio" name="playerType" value="bowler"> Bowler
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="playerType" checked value="batsman"> Batsman
                  </label>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="bowlerType">Bowler Type:</label>
                <br />
                <div class="btn-group" id="bowlerType" data-toggle="buttons">
                  <label class="btn btn-secondary">
                    <input type="radio" name="bowlerType" value="faster"> Faster
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="bowlerType" checked value="spinner"> Spinner
                  </label>
                </div>
              </div>
              <div class="form-group col-md-12">
                <button id="submitBtn" style="width: 100%;" class="btn btn-primary">
                  Add Player
                </button>
              </div>

            </div>
          </form>
        </div>
        <div class="col-md-5" id="playerTable">

        </div>
      </div>
    </div>
  </div>

</div>
<script>
  const gameType = "<%= matchData?.gameType %>";
</script>

<script src="/js/addPlayer.js"></script>