<style>

  .add-match-container {
    max-width: 97%;

  }

  .exchange-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .heading-cont {
    display: flex;
    justify-content: space-between;
  }

  .score-container {
    width: 100%;
    height: 10vh;
    border: 1px solid gray;
    position: relative;
  }

  .score-container-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.3s;
    box-shadow: none;
  }

  .score-container input:focus+p {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .undo-btn {
    width: 100%;
  }

  #bowler {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  }

  .btn-cont {
    display: flex;
    align-items: end;
    gap: 10px;
  }
  .form-group{
    margin-bottom: 10px !important;
  }

  @media screen and (max-width: 768px) {
    .add-match-container {
      max-width: 100%;

    }
  }
</style>


<div style="position: relative;">
  <%- include('./partials/score.ejs',{
  marketId: marketId
}) %>
</div>
<div class="container add-match-container">

  <div class="row">
    <div class="col-md-12 card p-3">
      <div class="heading-cont">
        <h5>Add Score (<%=data.title%>)</h5>
        <p>
          Current Inning: <span id="inning"><%=data.currentInning%></span>
        </p>
      </div>
      <form class="card p-3 mt-3 was-validated" id="score-form">
        <div class="row">
          <div class="form-group col-md-2">
            <div class="row">
              <div class="form-group col-md-12">

                <label for="batsmanStrike">Batsman strike:</label>
                <select class="form-control" id="batsmanStrike">


                </select>
                
              </div>

              <div class="form-group col-md-12 exchange-icon">
                <button class="btn btn-primary" id="exchange" title="Change strike">
                  <i class="bi bi-arrow-left-right"></i> <!-- Bootstrap exchange icon class -->
                </button>
              </div>
              <div class="form-group col-md-12">
                <label for="batsmanNonStrike">Batsman non-strike:</label>
                <select class="form-control" id="batsmanNonStrike">
                </select>
                
              </div>
            </div>
          </div>



          <div class="form-group col-md-10">
            <div class="row">
              <div class="col-md-12">
                <label for="bowlerType">Bowler Type:</label>
                <br />
                <div class="btn-group" id="bowlerType" data-toggle="buttons">
                  <label class="btn btn-secondary">
                    <input type="radio" name="bowlerType" value="spinner"> Spinner
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="bowlerType" value="faster"> Faster
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="bowlerType" value="all" checked> Any
                  </label>
                </div>
               
              </div>
              <div class="col-md-12">
                <div id="bowler">

                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group col-md-12 btn-cont">
            <button style="width: 100%;" id="changeInning" class="btn btn-primary">
              Change Inning
            </button>
            <button class="undo-btn btn btn-secondary" id="undo">
              Undo <i class="bi bi-arrow-counterclockwise rotate-180"></i>
            </button>
            <button class="undo-btn btn btn-primary" id="changeOver">
              Change Over
            </button>
          </div>
          <div class="form-group col-md-12 btn-cont d-none" id="runOutCont">
            <button style="width: 100%;" id="strikerOut" class="btn btn-primary">
              Striker
            </button>
            <button class="undo-btn btn btn-secondary" id="nonStrikerOut">
              Non striker
            </button>
          </div>
        </div>

        <div id="scoreEvent" class="score-container">
          <input id="scoreInput" type="text" placeholder="Enter your score here" class="score-container-input" />
          <p id="curr-score">
            Please enter your score
          </p>

        </div>
      </form>
    </div>
  </div>
  <div id="toastContainer"></div>
</div>
<script>
  const currentInning = "<%= data?.currentInning %>";
  const gameType = "<%= data?.gameType %>";
</script>

<script src="/js/addScore.js"></script>