<style>

  .add-toss-container {
    max-width: 97%;
  }

  #bowlerCont {
    display: none;
  }


  @media screen and (max-width: 768px) {
    .add-toss-container {
      max-width: 100%;
    }
  }
</style>
<div style="position: relative;">
  <%- include('./partials/score.ejs',{
  marketId: marketId
}) %>
</div>
<div class="container add-toss-container">
  
  <div class="row">
    <div class="col-md-12 card p-3">

      <h5>Add Toss</h5>

      <form class="card p-3 mt-3 was-validated">
        <div class="row">
          <div class="form-group col-md-12">
            <h5><%= matchData?.title %></h5>

          </div>
          <div class="form-group col-md-12">
            
            <label>Toss win team :</label>
            <br />
            <div class="btn-group" id="teamName" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="teamName" value="<%= matchData?.teamA %>"> <%= matchData?.teamA %>
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="teamName" value="<%= matchData?.teamB %>"> <%= matchData?.teamB %>
              </label>
              <% if (matchData && matchData.teamC) { %>

              <label class="btn btn-secondary">
                <input type="radio" name="teamName" value="<%= matchData.teamC %>"> <%= matchData.teamC %>
              </label>
              <% } %>

            </div>
            
          </div>

          <div class="form-group col-md-4">
            <label for="playerType">Choose first:</label>
            <br />
            <div class="btn-group" id="playerType" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="playerType" value="ball"> Ball
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="playerType" value="bat"> Bat
              </label>
            </div>
          </div>
          
          <div class="form-group col-md-12">
            <button style="width: 100%;" class="btn btn-primary">
              Submit
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>
<script>
  const gameType = "<%= matchData?.gameType %>";
</script>

<script src="/js/addToss.js"></script>