<style>
  body {
    margin: 0px;
  }


  .matches-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .match-box {
    border: 1px solid black;
    align-items: center;
    background-color: beige;
  }

  .match-name {
    background-image: linear-gradient(-45deg, #262626 50%, #262626, #f1c550, #f1c550 50%);
    width: 100%;
    padding: 5px;
    color: #262626;
    cursor: pointer;
  }

  .edit-icon {
    float: right;
    color: white;
    transition: color 0.3s, background-color 0.3s, transform 0.2s;
  }

  .edit-icon:hover {
    color: blue;
  }

  .edit-icon:active {
    transform: scale(1.1);
  }
</style>
<div>

  <div class="matches-container">
    <%match?.map((item)=>{%>
    <div class="match-box">
      <div class="match-name">
        <b><%= item?.title%></b>
        <span>
          (<%=new Date(item?.startDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%>)
        </span>
        <a href="/addmatch?marketId=<%= item?.marketId %>&id=<%= item?.id %>">

          <span class="bi bi-pencil edit-icon"></span>
        </a>
      </div>
      <a href='/score/add/<%= item?.marketId %>'> <button>
          score
        </button>
      </a>

      <a href='/player/add/<%= item?.marketId %>'> <button>
          add player
        </button>
      </a>

      <a href='/toss/<%= item?.marketId %>'> <button>
        toss
      </button>
    </a>

    </div>
    <% }); %>
  </div>
</div>